#indexBody, #editBody {
    height: 80%;
    
    background-color: rgb(49, 62, 88);
}

#listOfReviews {
    margin-top:5px;
    border:3px solid #7c7c7c;
    border-radius: 5px;
    margin-left: 25%;
    width: 50%;
    height: 60%;
}

#currentCatList {
    margin-top: 5px;
}

#linksWrapper {
    
    width: 50%;
    margin-left: 25%; 
    margin-bottom: 2px;
    border: 4px solid #7c7c7c;
    border-radius: 5px;
    display:flex;
}

#titleCard {
    margin-bottom: 1px;
}

#homeLink {
    margin-bottom: 1px;
}

#homeLink:visited {
    color: #000;
}

#homeLink:hover {
    color: #7c7c7c;
}
.links {
    list-style-type: none;
    padding: 5px 10px;
    border:4px solid #7c7c7c;
    border-radius: 5px;
    margin: 2px 3px;
    width: 40%;
}

#viewPostWrapper {
    width: 25%;
    padding: 5px 5px;
    border:4px solid #7c7c7c;
    border-radius: 5px;
    margin-left: 25%;
}

.linkAnchorTags:visited {
    color:#000;
}

.linkAnchorTags:hover{
    color: #7c7c7c;
}
.linkAnchorTags {
    color:#000;
}

.linkAnchorTags {
    
    margin-bottom: 2px;
}

.editTagss {
    color:#594885;
    text-decoration: none;
    margin-top: 0px;
}
.editTagss:visited{
color:#594885
}

#catsAnchor:visited {
    color:#000;
}

#catsAnchor:hover {
    color: #7c7c7c;
}

#catsAnchor {
    text-decoration: none;
    padding: 1px 6px;
    margin: 5px 35px;
    border:3px solid #7c7c7c;
    border-radius: 5px;
}
 #titleCard {
    margin-left: 25%;
    
}

.listLinksCats{
    list-style-type: none;
}


#newPostAnchor {
    
    padding: 2px 15px;
    border:3px solid #7c7c7c;
    border-radius: 5px;
}

#newPostAnchor:visited {
    color:#000;
}

#searchFormIndex {
    margin-bottom: 5px;
}

label {
    color: #c9c3c3;
}

#contentInput {
    margin-top: 5px;
    resize: none;
}

 #editBody {
    height: 1600px;
    
    background-color: rgb(49, 62, 88);
}

#postBody {
    height: 1600px;
    background-color: rgb(49, 62, 88);
}

#newTitleCard, #currentCatList {
    margin-left: 25%;
}

#currentCatList {
    padding: 2px 15px;
    border:3px solid #7c7c7c;
    border-radius: 5px;
    width:25%;
}

.listLinksCats {
    margin-bottom: 5px;
}
.currentCatListLinks {
    color:#000;
text-decoration: none;
}

#currentCatName {
    margin-bottom: 3px;
}
#postForm, #editForm {
    align-content: end;
    margin-left: 25%;
    margin-top: 5px;
    padding: 5px 5px;
    border:4px solid #7c7c7c;
    border-radius: 5px;
    width: 25%;
}

.currentCatListLinks:visited{
color: #000;
}

 #newCatForm {
    margin-left: 25%;
    margin-top: 5px;
    align-content: end;
    padding: 5px 5px;
    border:4px solid #7c7c7c;
    border-radius: 5px;
    width: 25%;
}

#infoWrapper {
    border:4px solid #7c7c7c;
    padding: 5px 5px;
    margin-top: 5px;
    border-radius: 5px;
    margin-left: 25%;
    width: 25%;
}